# Week 2: Preprocessing Text (Part 2)

In [2]:
#necessary library imports and setup introduced previously

import sys
from google.colab import drive
import re
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from itertools import zip_longest
import nltk

In [3]:
#mount google drive
drive.mount('/content/drive/')
#update the system path so that Python knows to look in this folder for libraries
sys.path.append('/content/drive/My Drive/NLENotebooks/resources/')
from sussex_nltk.corpus_readers import ReutersCorpusReader

Mounted at /content/drive/
Sussex NLTK root directory is /content/drive/My Drive/NLENotebooks/resources

## Overview 
Remember, a raw text document is just a sequence of characters. There are a number of basic steps that are often performed when processing natural language text. In lab sessions this week we are covering some of the basic text pre-processing methods. In the previous notebook, you looked at
- <b> segmentation</b> - breaking down large units of text into smaller units such as documents and sentences. 
- <b> tokenisation</b> - roughly speaking, this involves grouping characters into words;

In this notebook, you will be looking at:
- <b>case normalisation</b> - this involves converting all of the text into lower case; 
- <b>stemming</b> - this involves removing a word's inflections to find the stem; and 
- <b>punctuation and stop-word removal</b> - stop-words are common functions words that in some situations can be ignored.

Note that we do not always apply all of the above preprocessing methods; it depends on the application. One of the things that you will be learning about in this module, is when the application of each of these methods is, and is not, appropriate.

## Normalising text and removing unimportant tokens
In this next section we will consider several methods that pre-process (tokenised) text in ways that are sometimes helpful to 'downstream' processing.

### Number and case normalisation
Without any kind of normalisation, the tokens `"help"` and `"Help"` are two distinct types. In some contexts you may not want to distinguish them.

Another example, is that `"1998"` and `"1999"` count as distinct types. There are situations where there is no need to distinction between different numbers.

The following code performs case normalisation and replaces tokens that consist of digits by "NUM". 
- Python provides a [number of functions](http://docs.python.org/library/stdtypes.html#string-methods), which you can call in order to analyse their content, or produce new strings from them.
- The code uses a [list comprehension](http://docs.python.org/tutorial/datastructures.html#list-comprehensions) to build a new list by looping through and filtering items.

In [ ]:
tokens = ["The","cake","is","a","LIE"]      #a list of tokens, some of which contain uppercase letters
print([token.lower() for token in tokens])   #print newly created list of all lowercase tokens

numbers = ['in', 'the', 'year', '120', 'of', 'the', 'fourth', 'age', ',', 'after', '120', 'years', 'as', 'king', ',' , 'aragorn', 'died', 'at', 'the', 'age', 'of', '210']
print(["NUM" if token.isdigit() else token for token in numbers])  #replace all number tokens with "NUM" in a new list of tokens

['the', 'cake', 'is', 'a', 'lie']
['in', 'the', 'year', 'NUM', 'of', 'the', 'fourth', 'age', ',', 'after', 'NUM', 'years', 'as', 'king', ',', 'aragorn', 'died', 'at', 'the', 'age', 'of', 'NUM']

### Exercise 1.1
- Write a function <code>normalise</code> which 
    * replaces numbers with NUM; 
    * and replaces tokens such as `"4th"`, `"1st"` and `"22nd"` with `"Nth"`.
- Test your code on the list `["Within","5","minutes",",","the", "1st", "and", "2nd", "placed", "runners", "lapped", "the", "5th","."]`. 
- Check that the token `"and"` isn't changed to `"Nth"`.
- You will find [this page](http://docs.python.org/library/stdtypes.html#string-methods) useful.

In [12]:
tokens = ["Within","5","minutes",",","the", "1st", "and", "2nd", "placed", "runners", "lapped", "the", "5th","."]
def normalise(tokens):
  normalised=[ "Nth" if (token.endswith(("nd","st","th"))and token[:-2].isdigit()) else token for token in tokens]
  normalised=[ "NUM" if token.isdigit() else token for token in normalised]
  return normalised

print(normalise(tokens))

['Within', 'NUM', 'minutes', ',', 'the', 'Nth', 'and', 'Nth', 'placed', 'runners', 'lapped', 'the', 'Nth', '.']

### Exercise 1.2
- Complete the code in the cell below. You have just two lines to complete. The goal is to use a large sample of the Reuters corpus to establish the extent to which vocabulary size is reduced when number and case normalisation is applied.
- For each of the two incomplete lines you should use nested list comprehensions. This is described in Section 5.1.4 in [this document](http://docs.python.org/tutorial/datastructures.html#list-comprehensions).  Alternatively, you could define functions which iterate over the sentences in each sample and the tokens within each sentence.

In [13]:
from nltk.tokenize import word_tokenize
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
def vocabulary_size(sentences):
    tok_counts = {}
    for sentence in sentences: 
        for token in sentence:
            tok_counts[token]=tok_counts.get(token,0)+1
    return len(tok_counts.keys())

rcr = ReutersCorpusReader()    

sample_size = 10000

raw_sentences = rcr.sample_raw_sents(sample_size)
tokenised_sentences = [word_tokenize(sentence) for sentence in raw_sentences]

############################################
lowered_sentences = # complete this line
normalised_sentences = # complete this line

############################################

raw_vocab_size = vocabulary_size(tokenised_sentences)
normalised_vocab_size = vocabulary_size(normalised_sentences)
print("Normalisation produced a {0:.2f}% reduction in vocabulary size from {1} to {2}".format(
    100*(raw_vocab_size - normalised_vocab_size)/raw_vocab_size,raw_vocab_size,normalised_vocab_size))

## Stemming
A considerable amount of the lexical variation found in documents results from the use of morphological variants which we might not wish to distinguish - e.g. when determining the topic of a document. An easy way to remove these varied forms is to use a stemmer. NLTK includes a number of stemmers in the `nltk.stem` package.
- [NLTK stem module API](http://nltk.org/api/nltk.stem.html)

- [NLTK Porter stemmer](http://nltk.org/api/nltk.stem.html?highlight=stemmer#nltk.stem.porter.PorterStemmer)

- Look at the code below to show how the NLTK implementation of the Porter stemmer in `nltk.stem.porter.PorterStemmer` stems a sample of sentences in the Reuters corpus.
- Have a close look at the differences between the columns. This will give you a good indication of what the stemmer does.

In [ ]:
from nltk.stem.porter import PorterStemmer

rcr = ReutersCorpusReader() 
st = PorterStemmer()

sample_size = 10

raw_sentences = rcr.sample_raw_sents(sample_size)
tokenised_sentences = [word_tokenize(sentence) for sentence in raw_sentences]

for sentence in tokenised_sentences:
  df = pd.DataFrame(list(zip_longest(sentence,[st.stem(token) for token in sentence])),columns=["BEFORE","AFTER"])
  display(df)

         BEFORE    AFTER
0           The      the
1          peso     peso
2            's       's
3     effective   effect
4   devaluation   devalu
5           put      put
6       renewed    renew
7      pressure  pressur
8            on       on
9           the      the
10     recently   recent
11      floated    float
12         Thai     thai
13     currency  currenc
14            .        .

    BEFORE   AFTER
0     Debt    debt
1  service  servic
2    ratio   ratio
3        %       %
4     15.2    15.2
5     13.9    13.9
6     13.3    13.3
7     13.8    13.8

   BEFORE   AFTER
0    0830    0830
1     Wed     wed
2      UK      UK
3  NON-EU  non-eu
4   TRADE   trade
5     MAY     may
6     N/F     n/f
7     MLN     mln
8     N/A     n/a
9     N/A     n/a

        BEFORE      AFTER
0  Philippines  philippin
1           on         on
2        track      track
3           to         to
4         meet       meet
5       growth     growth
6      targets     target
7            -          -
8         govt       govt
9            .          .

          BEFORE      AFTER
0            New        new
1           York       york
2           City       citi
3              ,          ,
4          which      which
5        started      start
6      selecting     select
7     investment     invest
8        bankers     banker
9            for        for
10     lucrative       lucr
11         spots       spot
12            on         on
13           its         it
14  underwriting  underwrit
15          team       team
16           for        for
17             a          a
18           new        new
19        agency      agenc
20             ,          ,
21    emphasized     emphas
22          that       that
23           the        the
24     companies    compani
25           and        and
26           top        top
27     officials     offici
28          must       must
29          have       have
30          paid       paid
31         their      their
32         taxes        tax
33             .          .

     BEFORE     AFTER
0        --        --
1   Abidjan   abidjan
2  newsroom  newsroom
3         ,         ,
4         +         +
5       225       225
6        21        21
7        90        90
8        90        90

      BEFORE     AFTER
0    4.First   4.first
1  Tennessee  tennesse
2     5.2520    5.2520

        BEFORE     AFTER
0           On        On
1          the       the
2   government    govern
3         bond      bond
4       market    market
5        there     there
6          was        wa
7            a         a
8        mixed       mix
9     reaction  reaction
10           .         .

       BEFORE       AFTER
0  02/01/2010  02/01/2010
1        300M        300m
2        5.45        5.45
3           %           %

         BEFORE    AFTER
0     Municipal  municip
1          bond     bond
2         sales     sale
3           for      for
4       Tuesday  tuesday
5           are      are
6      expected   expect
7            to       to
8         total    total
9             $        $
10            2        2
11      billion  billion
12           in       in
13           49       49
14        sales     sale
15            ,        ,
16    according   accord
17           to       to
18      Reuters   reuter
19    Municipal  municip
20         Bond     bond
21  Information   inform
22        Group    group
23            .        .

### Exercise 2.1
- By looking at the impact on a large sample of the Reuters corpus, establish the extent to which vocabulary size is reduced by stemming.
- Write code to do this in the empty cell below. You should be able to re-use a lot of the code from the code you used when measuring the impact of lower case and number normalisation.

In [14]:
sample_size=1000
raw_sentences = rcr.sample_raw_sents(sample_size)
tokensized_sentences = [word_tokenize(sentence) for sentence in raw_sentences]
normalised_sentences = [normalise(sentence)for sentence in tokenised_sentences]
stemmed_sentences = [st.stem(token)for sentence in normalised_sentences]
raw_vocab_size = vocabulary_size(tokenised_sentences)
stemmed_vocab_size = vocabulary_size(stemmed_sentences)
print("stemming produced a {0:.2f}% reduction in vocabulary size from {1} to {2}}".format(100*(raw_vocab_size - stemmed_vocab_size)/raw_vocab_size,raw_vocab_size,stemmed_vocab_size))

NameError: ignored

### Exercise 2.2
* Try using the WordNetLemmatizer <code>nltk.stem.wordnet.WordNetLemmatizer</code> instead of the Porter Stemmer.
* Using a large sample of the Reuters corpus, establish the extent to which the vocabulary size reduced by lemmatization?
* As an extension, you could look at different sample sizes and/or different corpora and display the results in a table or graph (using <code>pandas</code> and <code>matplotlib</code>)

In [ ]:
from nltk.stem.wordnet import WordNetLemmatizer
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

### Punctuation and stop-word removal
A stopword is a word that occurs so often that it loses its usefulness in some tasks. We may get more meaningful information from our corpus analysis if we remove stopwords and punctuation.

The code below takes a list of tokens and creates a new list, which contains only those strings which are alphabetic and non-stop-words.
停用词是一个经常出现的单词，在某些任务中失去其用处。 如果我们删除停用词和标点符号，我们可能会从语料库分析中获得更多有意义的信息。

下面的代码获取一个令牌列表并创建一个新列表，该列表仅包含字母和非停用词的字符串。

In [ ]:
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:

stop = stopwords.words('english')
tokens="The cat , which is really fat , sat on the mat".lower().split()
filtered_tokens = [w for w in tokens if w.isalpha() and w not in stop]
print(tokens)
print(filtered_tokens)

['the', 'cat', ',', 'which', 'is', 'really', 'fat', ',', 'sat', 'on', 'the', 'mat']
['cat', 'really', 'fat', 'sat', 'mat']

**Note**: `isalpha` only returns `True` if the string is entirely composed of alphabet characters. If you want a function to return `True` even when a word contains digits, then you should use `isalnum`.`

### Exercise 3.1
- In the empty cell below, write code that looks at a large sample of the Medline corpus, establishing what proportion of tokens are stop-words.
- As extension, you could establish the mean (and or the distribution of the) number of stop-words per sentence; or compare the numbers of stop-words in different corpora.